# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Eclipse workspace junk
# =========================
.metadata/

# =========================
# Eclipse project noise
# =========================
.settings/

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# README.md
# =========================
README.md

